// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

@import '~bootstrap/scss/bootstrap';

@import "toastr";
@import "select2";
@import 'float_label';
@import 'bootstrap-datepicker3.css';

// @import "../../public/admin/css/app.css";


// custom
@import 'style';
