

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

/* .form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
} */

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 2.1;
  color: #495057;
  border: 1px solid transparent;
  /* border-radius: .25rem; */

  transition: all .1s ease-in-out;
}

.form-label-group input, .form-label-group textarea, .form-label-group select{
    border-radius: 0px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.form-label-group input:focus, .form-label-group textarea:focus, .form-label-group select:focus {
    border-color: #a8c5f0;
    box-shadow: 0 4px 2px -2px rgb(59 125 221 / 25%) !important;
    /* box-shadow: 0 0 0 0.2rem rgb(59 125 221 / 25%); */
}

.form-label-group input::-webkit-input-placeholder, .form-label-group textarea::-webkit-input-placeholder, .form-label-group select::-webkit-input-placeholder{
    color: transparent;
}

.form-label-group input:-ms-input-placeholder, .form-label-group textarea:-ms-input-placeholder, .form-label-group select:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder, .form-label-group textarea::-ms-input-placeholder, .form-label-group select::-ms-input-placeholder{
    color: transparent;
}

.form-label-group input::-moz-placeholder, .form-label-group textarea::-moz-placeholder, .form-label-group select::-moz-placeholder{
    color: transparent;
}

.form-label-group input::placeholder, .form-label-group textarea::placeholder, .form-label-group select::placeholder  {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown), .form-label-group textarea:not(:placeholder-shown) , .form-label-group select:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label, .form-label-group textarea:not(:placeholder-shown) ~ label, .form-label-group select:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
    top: -15px;
    left: 10px;
    }
