.email-detail{
    position: relative;
    top: -20px;
    right: -60px;
}

.dataTables_paginate{
    float: right;
}

.dataTables_filter{
    float: right;
}

.dataTables_empty{
    text-align: center;
}

.dataTables_filter, .dataTables_length{
    color: transparent;
    font-size: 0px;
    padding: 15px 0px 15px 0px;
}

table.dataTable thead th {
    font-weight: 400 !important;
    font-size: 14px !important;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    cursor: pointer !important;
    background-repeat: no-repeat !important;
    background-position: center right !important;
}
table.dataTable thead .sorting {
    background-image: url(../../public/img/sort_both.png) !important;
}

table.dataTable thead .sorting_asc {
    background-image: url(../../public/img/sort_asc.png) !important;

}

table.dataTable thead .sorting_desc {
    background-image: url(../../public/img/sort_desc.png) !important;
}

.toast, .toast-success, .toast-danger{
    // background-position: center left !important;
}

.toast-info{
    background: #3b7ddd !important;
    background-repeat: no-repeat !important;
    background-position: center left !important;
}

.toast-success{
    background: #28a745 !important;
}

.navbar-expand .navbar-nav .dropdown-menu {
    width: max-content;
}


h3, .h3 {
    font-size: 1.375rem;
}

.card-header{
    border-bottom: 1px solid #f7f7f7 !important;
    padding-bottom: 11px !important;
    padding-top: 12px !important;
}

.form-row{
    margin-bottom: 10px;
}

.loading-icon{
    width: 15px !important;
    height: 15px !important;
    position: absolute;
    top: 8px;
    left: 10px;
}

.wh-50{
    width: 50px;
    height: 50px;
}

label.error{
    position: absolute !important;
    top: 26px !important;
    color: #bd2130 !important;
    font-size: 11px;
}

input.error{
    border-color: #bd2130 !important;
}

#label-barcode{
    font-size: 20px;
    margin-bottom: 0;
}

.filter-icon{
    position: absolute;
    right: 210px;
    padding-top: 18px;
    z-index: 1111;
}

.filter-icon :hover{
    cursor: pointer;
}

text{
    display: none;
}

@media (min-width: 992px) {
    .content {
        padding: 1.8rem 1.8rem 0.5rem !important;
    }
}

