.email-detail{
    position: relative;
    top: -20px;
    right: -60px;
}

.dataTables_paginate{
    float: right;
}

.dataTables_filter{
    float: right;
}

.dataTables_filter, .dataTables_length{
    color: transparent;
    font-size: 0px;
    padding: 15px 15px 0px;
}

table.dataTable thead .sorting {
    background-image: url(../../public/img/sort_both.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_asc {
    background-image: url(../../public/img/sort_asc.png) !important;
}

table.dataTable thead .sorting_desc {
    background-image: url(../../public/img/sort_desc.png) !important;
}
