.email-detail{
    position: relative;
    top: -20px;
    right: -60px;
}

.dataTables_paginate{
    float: right;
}

.dataTables_filter{
    float: right;
}

.dataTables_empty{
    text-align: center;
}

.dataTables_filter, .dataTables_length{
    color: transparent;
    font-size: 0px;
    padding: 15px 0px 15px 0px;
}

table.dataTable thead th {
    font-weight: 400 !important;
    font-size: 14px !important;
    border-bottom: none;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    cursor: pointer !important;
    background-repeat: no-repeat !important;
    background-position: center right !important;
}
table.dataTable thead .sorting {
    background-image: url(../../public/img/sort_both.png) !important;
}

table.dataTable thead .sorting_asc {
    background-image: url(../../public/img/sort_asc.png) !important;

}

table.dataTable thead .sorting_desc {
    background-image: url(../../public/img/sort_desc.png) !important;
}

.table td, .table th {
    padding: .60rem !important;
}

.toast, .toast-success, .toast-danger{
    // background-position: center left !important;
}

.toast-info{
    background: #3b7ddd !important;
    background-repeat: no-repeat !important;
    background-position: center left !important;
}

.toast-success{
    background: #28a745 !important;
}

.navbar-expand .navbar-nav .dropdown-menu {
    width: max-content;
}


h3, .h3 {
    font-size: 1.375rem;
}

.card-header{
    border-bottom: 1px solid #f7f7f7 !important;
    padding-bottom: 11px !important;
    padding-top: 12px !important;
}

.form-row{
    margin-bottom: 10px;
}

.loading-icon{
    width: 15px !important;
    height: 15px !important;
    position: absolute;
    top: 8px;
    left: 10px;
}

.wh-50{
    width: 50px;
    height: 50px;
}

label.error{
    position: absolute !important;
    top: 26px !important;
    color: #bd2130 !important;
    font-size: 11px;
}

input.error{
    border-color: #bd2130 !important;
}

#label-barcode{
    font-size: 20px;
    margin-bottom: 0;
}

.filter-icon, .filter-icon-transaksi, .filter-export-transaksi{
    position: absolute;
    right: 210px;
    padding-top: 18px;
    z-index: 1;
}

.filter-export-transaksi{
    right: 240px !important;
}

.filter-icon :hover, .filter-icon-transaksi:hover, .filter-export-transaksi:hover{
    cursor: pointer;
}

.card-filter{
    background: #f3f8fd;
}

text{
    display: none;
}


.select2-container--default .select2-selection--single {
    border: 1px solid #d4d4d4;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px;
    position: relative;
    top: 3px;
}

select, .form-control{
    border-top: none !important;
    border-left: none !important;
    border-radius: 0 !important;
    border-right: none !important;
}

table tbody{
    border-bottom: 1px solid #dee2e6 !important;
}

table tr td > input.form-control, table tr td div > input.form-control{
    // border-bottom: 0 !important;
}

table tr td > input.form-control:focus, table tr td div > input.form-control:focus{
    box-shadow: 0 4px 2px -2px rgb(59 125 221 / 25%) !important;
}

.row-multiple table tr td{
    padding: 0px !important;
    vertical-align: text-top !important;
}

.row-multiple table tr td input{
    height: 35px !important;
}


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


.text-detail {
    color: #a7a6a6;
}

.dataTable>tbody>tr>td {
    vertical-align: top !important;
}

.dataTable>tbody>tr>td>a>i{
    font-size: 19px;
}

.sidebar-item.active .sidebar-link:hover, .sidebar-item.active>.sidebar-link {
    border-left-color: #f88e00 !important;
}

.nav-item .indicator {
    background: #f88d01 !important;
}

.sidebar-dropdown .sidebar-item.active .sidebar-link {
    color: #f88e00 !important;
}


.label-approved {
    position: absolute !important;
    left: 100px;
    padding-top: 18px;
    z-index: 1;
}

@media (min-width: 992px) {
    .content {
        padding: 1.8rem 1.8rem 0.5rem !important;
    }
}

